# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Snapcraft and build artifacts
parts/
prime/
stage/
*.snap
build-*
snap/local/

# IDE / editor
.vscode/
.idea/
*.swp

# Python packaging
dist/
build/
*.egg-info/

# Logs
*.log
